@charset "utf-8";
*{box-sizing:border-box;}
body,html{height:100%; }

/*이전,다음 화살표안넣음*/

/*1500이상*/
@media all and (min-width:1500px){
    
    /*메인이미지 슬라이드*/
    .main_img{
        width:100%; height:1000px;
        position:relative;
        cursor:pointer;
        z-index:1;
    }
    .banner_01{
        width:100%; height:1000px;
        background:url(../images/main_suzi.jpg) no-repeat center fixed ;
        background-size:cover;
    }
    .banner_02{
        width:100%; height:1000px;
        background:url(../images/mian_sale.jpg) no-repeat center fixed;background-size:cover;
    }
    .banner_03{
        width:100%; height:1000px; 
       
        background:url(../images/main_bag.jpg) no-repeat center fixed;  background-size:cover;
    }

    /*메인 텍스트*/
    .bxslider .banner_01 ol, .bxslider .banner_03 ol{
        position:absolute; left:10%; bottom:20%;
    }
    .banner_01>ol>li:nth-child(1), .banner_03>ol>li:nth-child(1){
        padding-bottom:20px;
        font-weight:bold;
        font-size:80px; 
        line-height:80px;
        color:#ffffff;
    }
    .banner_01>ol>li:nth-child(2), .banner_03>ol>li:nth-child(2){
        font-size:45px;
        color:#371000;
        font-weight:bold;
    }

    /*2페이지 세일*/
   .banner_02>ol{
    position:absolute;
     top:40%; left:50%;  
    }
    .banner_02>ol>li:nth-child(1){
        padding-bottom:20px;
        font-size:90px; 
        line-height:80px;
        color:#3e5068;
        font-weight:bold;
    }
    .banner_02>ol>li:nth-child(2){
        font-size:25px; 
        line-height:40px;
        color:#371000;
        font-weight:bold;
    }
    /*페이저*/
    #bx_pager{
        position:absolute; 
        left:50%; bottom:50px;
        transform:translateX(-50%); overflow:hidden; z-index:10; 
    }
    #bx_pager a{
        width:50px; height:41px;
        background:url(../images/icon/triang_pager.png);
        text-indent:-9999px;
        float:left;
        display:block;
        
    }
    #bx_pager a:nth-child(2){
        background:url(../images/icon/triang_pager.png);
        transform:rotate(180deg);
    }
    #bx_pager a:hover, #bx_pager a.active{
        background:url(../images/icon/triang_pager_black.png);
        
    }


    /*summer collection*/
    .summer{
        width:100%; height:800px;
        margin:0 auto;
        position:relative;
    }
    .summer h2{
        font-size:48px;
        text-align:center;
        margin-top:100px;
    }

    .bxslider_01{
        position:absolute; 
        left:0; top:0px; 
        width:100%; height:700px;
       
    }
    .bxslider_01 li{
        width:100%; height:700px;

    }
    .bxslider_01 li div{
        height:700px;
        position:relative;
        cursor:pointer;
    }
    .bxslider_01 li div p{
        position:absolute;
       
        font-size:18px;
        margin-top:10px;
    } 
    .bxslider_01 li div p:first-child{
        bottom:50px; left:30px;
    }
    .bxslider_01 li div p:nth-child(2){
        bottom:0px; left:30px;
        font-size:20px;
        font-weight:bold;
    }
    .bxslider_01 li div p:nth-child(3){
        right:20px;bottom:0px; 
        color:red; 
        font-weight:bold;

    }
    .bxslider_01 li div p:nth-child(3) span{
        text-decoration:line-through;
        font-weight:normal;
        color:#777777;
    }
    .h_icon{
        text-align:center;
        width:40px; height:40px;
        font-size:0;
        position:absolute;
        right:55px;
        bottom:100px;

      overflow: hidden;
    }
    .h_icon img{
        transform:scale(1.5);
        position:absolute;
        right:0px;
        bottom:-30px;
    }


    /*인디고 셔츠원피스*/
    .sum_list1 div:nth-child(4) p:first-child{
        bottom:30px; 
    }

    /*summer 사진*/
    .bxslider_01 .sum_list1 div:nth-child(1){
        background:url(../images/summer/summer1.jpg) no-repeat center;
        width:25%; float:left;
    }
    .bxslider_01 .sum_list1 div:nth-child(2){
        background:url(../images/summer/summer2.jpg) no-repeat center;
        width:25%; float:left;
    }
    .bxslider_01 .sum_list1 div:nth-child(3){
        background:url(../images/summer/summer3.jpg) no-repeat center;
        width:25%; float:left;
    }
    .bxslider_01 .sum_list1 div:nth-child(4){
        background:url(../images/summer/summer4.jpg) no-repeat center;
        width:25%; float:left;
    }

    .bxslider_01 .sum_list2 div:nth-child(1){
        
        background:url(../images/summer/summer5.jpg) no-repeat center;
        width:25%; float:left;
    }
    .bxslider_01 .sum_list2 div:nth-child(2){
        background:url(../images/summer/summer6.jpg) no-repeat center;
        width:25%; float:left;
    }
    .bxslider_01 .sum_list2 div:nth-child(3){
        background:url(../images/summer/summer7.jpg) no-repeat center;
        width:25%; float:left;
    }
    .bxslider_01 .sum_list2 div:nth-child(4){
        background:url(../images/summer/summer8.jpg) no-repeat center;
        width:25%; float:left;
    }

    #promotion_wrap{
    clear:both;
    }

    /*동영상*/

    .suzi_denim{ width:100%; margin:0 auto;
    }
    .suzi_denim video{
        min-width:100%; width:100%; height:auto;
    }

    /*promotion*/
    #promotion_wrap{
        width:100%; height:auto;
    }
    #promotion_wrap h2{
        font-size:48px;
        text-align:center;
        margin-top:100px;

    }
    .prom_box1{
       width:1600px; 
       margin:0 auto; 
    }
    /*이미지 공통*/
   .box {
        margin-top:100px;
        width:50%; height:732px;
        position:relative;
        float:left;
        cursor:pointer;
    }

    .box img{
        width:100%; height:100%;
        cursor:pointer;
    }

  .box p{
        width:600px;
        position:absolute;
        font-weight:bold;
        font-size:80px;
        top:45%; left:50%;
        transform:translate(-50%,-50%);
        text-align:center;
        color:#ffffff;
        letter-spacing:3px;
    }
     .box p:last-child{
        margin-top:80px;
    }

    /*상품 공통*/
    .box2{
        margin-top:100px;
        width:50%;
        float:right;
        position:relative;
    }
    .box2> ul:fist li{
        font-size:25px;
    }
    .box2 button{
        position:absolute; 
        top:0; right:50px;
        width:200px; height:60px;
        background-color:#222222;
        color:#ffffff;
        font-size:25px;
        cursor:pointer;
        font-weight:bold;
        text-align:center;
    }

    .box2 button:hover{
        border:3px solid #222222;
        background-color:#ffffff;
        color:#222222;
        font-weight:bold;
    }
    .prom_list{
        margin-bottom:20px;
    }
    .prom_list li{ cursor:pointer;
        margin-left:30px;
        font-size:25px;
        line-height:40px;
        font-weight:bold;
    }
  
  
    .prom_item li{ 
        cursor:pointer; 
        text-align:center;
      width:50%;
        float:left;
        position:relative;
        height:550px;

    }
    .prom_item p{
        font-size:20px;
        float:left;
    }
    .prom_item p:nth-child(2){
        position:absolute; 
        bottom:50px; left:20px;
    }
    
    .prom_item p:nth-child(3){
        position:absolute;
        bottom:0; left:20px;
    }
    .prom_item p:last-child>span{
        text-decoration:line-through;
        color:#777777;
    }
    .prom_item p:last-child{
        position:absolute;
        bottom:0; right:20px;
        color:red;
        
    }
  

    /*active*/
    .prom_box2{
        padding-top:100px;
    }
    .prom_box2 .box2{
        float:left;
    }
    .prom_box2 .prom_item{
        float:left;
       
    }
    .prom_box2 .prom_item li{
        padding:0 15px;
    }
    .prom_box2{
        width:1600px; height:1000px; 
        margin:0 auto;
        clear:both;

    }

    .prom_box2 .prom_list{
       margin-bottom:0;

    }
    .prom_box2>div> .prom_list{
        padding-bottom:100px;

    }

    /*pop collection*/
    .pop_img{
        position:relative;
        margin:0 auto;
        margin-top:60px;
        width:100%; height:100%;
        background:url(../images/pop.jpg) no-repeat center ; 
        background-size:cover;
    }
    .pop_img p{
        height:60px; width:550px;
        line-height:60px;
        position:absolute;
        bottom:5%; left:5%;
        font-size:45px;
        font-weight:bold;
        color:#ffffff;
        cursor:pointer;
        text-align:center;
        background-color:#222222;
        transition:all 0.1s ;
    }
    .pop_img p:hover{
        font-weight:bold;
        color:#222222;
        background-color:#ffffff;
        border:3px solid #222222;
    }


        /*RECOMMEND*/
        .recommend{
            width:100%; height:800px;
            margin:0 auto;
            position:relative;
        }
        .recommend h2{
            font-size:48px;
            text-align:center;
            margin-top:100px;
        }

        
    /*recommend 사진*/
    .bxslider_01 .rec_list1 div:nth-child(1){
        background:url(../images/recommend/recommend1.jpg) no-repeat center;
        width:25%; float:left;
    }
    .bxslider_01 .rec_list1 div:nth-child(2){
        background:url(../images/recommend/recommend2.jpg) no-repeat center;
        width:25%; float:left;
    }
    .bxslider_01 .rec_list1 div:nth-child(3){
        background:url(../images/recommend/recommend3.jpg) no-repeat center;
        width:25%; float:left;
    }
    .bxslider_01 .rec_list1 div:nth-child(4){
        background:url(../images/recommend/recommend4.jpg) no-repeat center;
        width:25%; float:left;
    }

    .bxslider_01 .rec_list2 div:nth-child(1){
        
        background:url(../images/recommend/recommend5.jpg) no-repeat center;
        width:25%; float:left;
    }
    .bxslider_01 .rec_list2 div:nth-child(2){
        background:url(../images/recommend/recommend6.jpg) no-repeat center;
        width:25%; float:left;
    }
    .bxslider_01 .rec_list2 div:nth-child(3){
        background:url(../images/recommend/recommend7.jpg) no-repeat center;
        width:25%; float:left;
    }
    .bxslider_01 .rec_list2 div:nth-child(4){
        background:url(../images/recommend/recommend8.jpg) no-repeat center;
        width:25%; float:left;
    }

    /*event 배너*/
    .event {
        margin:100px auto;
        width:80%; overflow:hidden;
    }
    .event ul li{
        height:400px;
      text-indent:-9999px;
      cursor:pointer;
    }
    .event ul li:first-child{
        background:url(../images/event/sale.jpg) no-repeat center;
        width:48%; float:left;
        background-size:cover;
    }
    .event ul li:last-child{
        background:url(../images/event/review.jpg) no-repeat center;
        width:48%; float:right; 
        background-size:cover;
    }
}

/*721~1499*/
@media all and (min-width:721px) and (max-width:1499px){

  /*이미지 슬라이드*/
  .main_img{
    width:100%; height:1000px;
    position:relative;
    cursor:pointer;
    z-index:1;
}
.banner_01{
    width:100%; height:1000px;
    background:url(../images/main_suzi.jpg) no-repeat 70% 0;
}
.banner_02{
    width:100%; height:1000px;
    background:url(../images/mian_sale.jpg) no-repeat 30% 0;
}
.banner_03{
    width:100%; height:1000px;
    background:url(../images/main_bag.jpg) no-repeat 70% 0;
}

/*메인 텍스트*/
.bxslider{
    font-weight:bold;
}
.bxslider .banner_01 ol, .bxslider .banner_03 ol{
    position:absolute; left:10%; bottom:20%;
}
.banner_01>ol>li:nth-child(1), .banner_03>ol>li:nth-child(1){
    padding-bottom:20px;
    font-size:80px; 
    line-height:80px;
    color:#ffffff;
}
.banner_01>ol>li:nth-child(2), .banner_03>ol>li:nth-child(2){
    font-size:45px;
    color:#371000;
}

/*2페이지 세일*/
.banner_02>ol{
position:absolute;
 top:40%; left:50%;  
}
.banner_02>ol>li:nth-child(1){
    padding-bottom:20px;
    font-size:90px; 
    line-height:80px;
    color:#3e5068;
}
.banner_02>ol>li:nth-child(2){
    font-size:25px; 
    line-height:40px;
    color:#371000;
}
/*페이저*/
#bx_pager{
    position:absolute; 
    left:50%; bottom:50px;
    transform:translateX(-50%); overflow:hidden; z-index:10; 
}
#bx_pager a{
    width:50px; height:41px;
    background:url(../images/icon/triang_pager.png);
    text-indent:-9999px;
    float:left;
    display:block;
    
}
#bx_pager a:nth-child(2){
    background:url(../images/icon/triang_pager.png);
    transform:rotate(180deg);
}
#bx_pager a:hover, #bx_pager a.active{
    background:url(../images/icon/triang_pager_black.png);
    
}

 /*summer collection*/
 .summer{
    width:80%; height:800px;

    margin:0 auto;
    position:relative;
}
.summer h2{
    font-size:40px;
    text-align:center;
    margin-top:100px;
}

.bxslider_01{
    position:absolute; 
    left:0; top:0px; 
    width:90%; height:700px;
   
}
.bxslider_01 li{
    cursor:pointer; 
    width:80%; height:700px;
    
}
.bxslider_01 li div{
    height:700px;
    width:40%;
    position:relative;
}
.bxslider_01 li div p{
    font-size:18px;
} 
.bxslider_01 li div p:nth-child(1){
    position:absolute;
    bottom:50px; left:10%;
}

.bxslider_01 li div p:nth-child(2){
    position:absolute;
    bottom:0px; left:10%;
    font-size:20px;
    font-weight:bold;
}
.bxslider_01 li div p:nth-child(3){
    position:absolute;
    right:10%;bottom:0px; 
    color:red; 
    font-weight:bold;

}

.bxslider_01 li div p:nth-child(3) span{
    text-decoration:line-through;
    font-weight:normal;
    color:#777777;
}

.h_icon{
    text-align:center;
    width:40px; height:40px;
    font-size:0;
    position:absolute;
    right:15%;
    bottom:100px;
  overflow: hidden;
}
.h_icon img{
    transform:scale(1.5);
    position:absolute;
    right:0px;
    bottom:-30px;
}

/*summer 사진*/
.bxslider_01 .sum_list1 div:nth-child(1){
    background:url(../images/summer/summer1.jpg) no-repeat center;
    width:50%; float:left;
}
.bxslider_01 .sum_list1 div:nth-child(2){
    background:url(../images/summer/summer2.jpg) no-repeat center;
    width:50%; float:left;
}
.bxslider_01 .sum_list1 div:nth-child(3){
    display:none;
}
.bxslider_01 .sum_list1 div:nth-child(4){
    display:none;
}

.bxslider_01 .sum_list2 div:nth-child(1){
    
    background:url(../images/summer/summer5.jpg) no-repeat center;
    width:50%; float:left;
}
.bxslider_01 .sum_list2 div:nth-child(2){
    background:url(../images/summer/summer6.jpg) no-repeat center;
    width:50%; float:left;
}
.bxslider_01 .sum_list2 div:nth-child(3){
    display:none;
}
.bxslider_01 .sum_list2 div:nth-child(4){
    display:none;
}

#promotion_wrap{
clear:both;
}

    /*동영상*/

    .suzi_denim{ width:100%; margin:0 auto;
    }
    .suzi_denim video{
        min-width:100%; width:100%; height:auto;
    }

    /*promotion*/
    #promotion_wrap{
        position:relative;
        width:100%; height:750px;   
    }
    #promotion_wrap h2{
        font-size:40px;
        text-align:center;
        margin-top:80px;
        margin-bottom:100px;
    }
    .prom_box1, .prom_box2{
        cursor:pointer; 
        position:absolute;
        top:120px; 
       width:45%; height:70%;
 
      
    }
    .prom_box1{
        background:url(../images/promotion/denim.jpg) no-repeat center; background-size:cover;
    }
    .prom_box2{
        background:url(../images/promotion/active.jpg) no-repeat center; background-size:cover;
    }
    .box img{display:none;}
    .prom_box1{
        left:3%;
    }
    .prom_box2{
    right:3%;
    }
    /*이미지 공통*/
   .box {
        width:100%; height:90%;
        position:relative;
    
    }
    .box img{
    width:100%; height:100%;
       
    }

  .box p{
        width:600px;
        position:absolute;
        font-weight:bold;
        font-size:5.5vw;
        top:45%; left:50%;
        transform:translate(-50%,-50%);
        text-align:center;
        color:#ffffff;
        letter-spacing:3px;
    }
     .box p:last-child{
        margin-top:60px;
    }


   
 


    /*상품 공통*/
    .box2{
   display:none;
    }
  
  
 
    .prom_list{
        display:none;
    }

    /**/
    .prom_item li:last-child{
        display:none;
    }
   
  

    /*active*/
    
    .prom_box2 .prom_item li{
        padding:0 15px;
    }
    .prom_box2{
     
        clear:both;

    }

    .prom_box2 .prom_list{
       margin-bottom:0;

    }
    .prom_box2>div> .prom_list{
        padding-bottom:100px;

    }
 button{display:none;}

 /*pop collection*/
 .pop_img{
     clear:both;
    position:relative;
    margin:0 auto;
    margin-top:60px;
    width:100%; height:80%;
    background:url(../images/pop2.jpg) no-repeat 20% 0 ; 
    background-size:cover;

}
.pop_img p{
    height:50px; width:480px;
    line-height:50px;
    position:absolute;
    bottom:30px; left:30px;
    font-size:40px;
    font-weight:bold;
    color:#ffffff;
    cursor:pointer;
    text-align:center;
    background-color:#222222;
    transition:all 0.1s ;
}
.pop_img p:hover{
    font-weight:bold;
    color:#222222;
    background-color:#ffffff;
    border:3px solid #222222;
}

/*recommend collection*/
.recommend{
    width:80%; height:800px;
    margin:0 auto;
    position:relative;
}
.recommend h2{
    font-size:48px;
    text-align:center;
    margin-top:100px;
}

/*recommend 사진*/
.bxslider_01 .rec_list1 div:nth-child(1){
    background:url(../images/recommend/recommend1.jpg) no-repeat center;
    width:50%; float:left;
}
.bxslider_01 .rec_list1 div:nth-child(2){
    background:url(../images/recommend/recommend2.jpg) no-repeat center;
    width:50%; float:left;
}
.bxslider_01 .rec_list1 div:nth-child(3){
    display:none;
}
.bxslider_01 .rec_list1 div:nth-child(4){
    display:none;
}

.bxslider_01 .rec_list2 div:nth-child(1){

    background:url(../images/recommend/recommend5.jpg) no-repeat center;
    width:50%; float:left;
}
.bxslider_01 .rec_list2 div:nth-child(2){
    background:url(../images/recommend/recommend6.jpg) no-repeat center;
    width:50%; float:left;
}
.bxslider_01 .rec_list2 div:nth-child(3){
    display:none;
}
.bxslider_01 .rec_list2 div:nth-child(4){
    display:none;
}


    
 /*event 배너*/
 .event {
    margin:50px auto;
    width:80%; overflow:hidden;
}
.event ul li{
    height:300px;
  text-indent:-9999px;
  cursor:pointer;
}
.event ul li:first-child{
    background:url(../images/event/sale.jpg) no-repeat center;
    width:48%; float:left;
    background-size:cover;
}
.event ul li:last-child{
    background:url(../images/event/review.jpg) no-repeat center;
    width:48%; float:right; 
    background-size:cover;

}

}


/*720이하*/
@media all and (max-width:720px){
  /*이미지 슬라이드*/
  .main_img{
    width:100%; height:1000px;
    position:relative;
    cursor:pointer;
    z-index:1;
}
.banner_01{
    width:100%; height:1000px;
    background:url(../images/main_suzi.jpg) 60% 0;
}
.banner_02{
    width:100%; height:1000px;
    background:url(../images/mian_sale.jpg) 30% 0;
}
.banner_03{
    width:100%; height:1000px;
    background:url(../images/main_bag.jpg) 80% 0;
}

/*메인 텍스트*/
.bxslider{
    font-weight:bold;
}
.bxslider .banner_01 ol, .bxslider .banner_03 ol{
    position:absolute; left:10%; bottom:20%;
}
.banner_01>ol>li:nth-child(1), .banner_03>ol>li:nth-child(1){
    padding-bottom:20px;
    font-size:65px; 
    line-height:65px;
    color:#ffffff;
    text-align:center;
    
}
.banner_01>ol>li:nth-child(2), .banner_03>ol>li:nth-child(2){
    font-size:30px;
    color:#371000ca;
    text-align:center;
}

/*2페이지 세일*/
.banner_02>ol{
position:absolute;
 bottom:20%; left:30%;  
}
.banner_02>ol>li:nth-child(1){
    padding-bottom:20px;
    font-size:70px; 
    line-height:70px;
    color:#3e5068;text-align:center;
}
.banner_02>ol>li:nth-child(2){
    font-weight:bold;
    font-size:18px; 
    line-height:30px;
    color:#ffffff;
    text-align:center;
}
/*페이저*/
#bx_pager{
    position:absolute; 
    left:50%; bottom:50px;
    transform:translateX(-50%); overflow:hidden; z-index:10; 
}
#bx_pager a{
    width:50px; height:41px;
    background:url(../images/icon/triang_pager.png);
    text-indent:-9999px;
    float:left;
    display:block;
    
}
#bx_pager a:nth-child(2){
    background:url(../images/icon/triang_pager.png);
    transform:rotate(180deg);
}
#bx_pager a:hover, #bx_pager a.active{
    background:url(../images/icon/triang_pager_black.png);
    
}
 /*summer collection*/
 .summer{
    width:70%; height:800px;
    margin:0 auto;
    position:relative;
}
.summer h2{
    font-size:28px;
    text-align:center;
    margin-top:100px;
}
.bxslider_01{
    position:absolute; 
    left:0; top:0px; 
    width:75%; height:700px;
   
}
.bxslider_01 li{
    width:50%; height:700px;
    
}
.bxslider_01 li div{
    height:700px;
    width:50%;
    position:relative;
    cursor:pointer;
}
.bxslider_01 li div p{
   
    font-size:18px;
    
} 
.bxslider_01 li div p:nth-child(1){
    position:absolute;
    bottom:50px; left:10%;
}
.bxslider_01 li div p:nth-child(2){
    position:absolute;
    bottom:0px; left:10%;
    font-size:16px;
    font-weight:bold;
}
.bxslider_01 li div p:nth-child(3){
    position:absolute;
    right:10%;bottom:0px; 
    color:red; 
    font-weight:bold;

}
.bxslider_01 li div p:nth-child(3) span{
    text-decoration:line-through;
    font-weight:normal;
    color:#777777;
}



/*summer 사진*/
.bxslider_01 .sum_list1 div:nth-child(1){
    background:url(../images/summer/summer1.jpg) no-repeat center;
    width:100%; float:left;
}
.bxslider_01 .sum_list1 div:nth-child(2){
    display:none;
}
.bxslider_01 .sum_list1 div:nth-child(3){
    display:none;
}
.bxslider_01 .sum_list1 div:nth-child(4){
   display:none;
}

.bxslider_01 .sum_list2 div:nth-child(1){
    
    background:url(../images/summer/summer5.jpg) no-repeat center;
    width:100%; float:left;
}
.bxslider_01 .sum_list2 div:nth-child(2){
    display:none;
}
.bxslider_01 .sum_list2 div:nth-child(3){
    display:none;
}
.bxslider_01 .sum_list2 div:nth-child(4){
    display:none;
}

#promotion_wrap{
clear:both;
}


    /*동영상*/

    .suzi_denim{ width:100%; margin:0 auto;
    }
    .suzi_denim video{
        min-width:100%; width:100%; height:auto;
    }


     /*promotion*/
     #promotion_wrap{
        width:100%; height:auto;
    }
    #promotion_wrap h2{
        font-size:35px;
        text-align:center;
        margin-top:70px;
    }
    .prom_box1, .prom_box2{
       width:100%; 

    }
    /*이미지 공통*/
   .box {
        margin-top:70px;
        width:100%; height:auto;
        text-align:center;
        position:relative;
        cursor:pointer;
    }

   .box:last-child {
    margin-top:50px;
   }
    .box img{
        width:100%; height:100%;
    }

  .box p{
        width:600px;
        position:absolute;
        font-weight:bold;
        font-size:60px;
        top:45%; left:50%;
        transform:translate(-50%,-50%);
        text-align:center;
        color:#ffffff;
        letter-spacing:2px;
 
    }
     .box p:last-child{
        margin-top:60px;
    }

    .box2{display:none;}

     /*pop collection*/
 .pop_img{
    clear:both;
   position:relative;
   margin:0 auto;
   margin-top:60px;
   width:100%; height:80%;
   background:url(../images/pop2.jpg) no-repeat 20% 0 ; 
 background-size:cover;
}
.pop_img p{
   height:50px; width:350px;
   line-height:50px;
   position:absolute;
   bottom:30px; left:50%;
   transform:translate(-50%,0);
   font-size:28px;
   font-weight:bold;
   color:#ffffff;
   cursor:pointer;
   text-align:center;
   background-color:#222222;
   transition:all 0.1s ;
}
.pop_img p:hover{
   font-weight:bold;
   color:#222222;
   background-color:#ffffff;
   border:3px solid #222222;
}

/*recommend collection*/
.recommend{
    width:75%; height:800px;

    margin:0 auto;
    position:relative;
}
.recommend h2{

    font-size:35px;
    text-align:center;
    margin-top:100px;
}

/*recommend 사진*/
.bxslider_01 .rec_list1 div:nth-child(1){
    background:url(../images/recommend/recommend1.jpg) no-repeat center;
    width:100%; float:left;
}
.bxslider_01 .rec_list1 div:nth-child(2){
    display:none;
}
.bxslider_01 .rec_list1 div:nth-child(3){
    display:none;
}
.bxslider_01 .rec_list1 div:nth-child(4){
   display:none;
}

.bxslider_01 .rec_list2 div:nth-child(1){
    
    background:url(../images/recommend/recommend5.jpg) no-repeat center;
    width:100%; float:left;
}
.bxslider_01 .rec_list2 div:nth-child(2){
    display:none;
}
.bxslider_01 .rec_list2 div:nth-child(3){
    display:none;
}
.bxslider_01 .rec_list2 div:nth-child(4){
    display:none;
}
.h_icon{
    text-align:center;
    width:40px; height:40px;
    font-size:0;
    position:absolute;
    right:10%;
    bottom:100px;
  overflow: hidden;
  cursor:pointer;
}
.h_icon img{
    transform:scale(1.5);
    position:absolute;
    right:0px;
    bottom:-30px;
}

 /*event 배너*/
 .event {
    margin:0 auto;
    width:90%; overflow:hidden;
}
.event ul li{
    height:280px; 
    margin-bottom:50px;
  text-indent:-9999px;
  cursor:pointer;

}
.event ul li:first-child{
    background:url(../images/event/sale.jpg) no-repeat center;
    width:100%; 
    background-size:cover;
}
.event ul li:last-child{
    background:url(../images/event/review.jpg) no-repeat center;
    width:100%;  
    background-size:cover;

}
}